<body>
<div class="page-header center">
  <h1>GIT FLASHCARDS</br><div><%= image_tag("biggit.png") %></div><small>CHOOSE A GROUP OF FLASHCARDS YOU'D LIKE TO STUDY</small></h1>
</div>
  <section class="row-fluid">
<div class="img-circle span2 offset5 gitinfoboxes center"><h4>Git Commands</h4><%= link_to image_tag("gitinfo.png"), gitcommands_path %></div>
</section>
