<body>
<div class="page-header center">
  <h1>RAILS FLASHCARDS</br><div><%= image_tag("railsbig.png") %></div><small>CHOOSE A GROUP OF FLASHCARDS YOU'D LIKE TO STUDY</small></h1>
</div>
  <section class="row-fluid">
<div class="img-circle span2 offset5 railsinfoboxes center "><h4>Rake Commands</h4><%= link_to image_tag("rails.png"), rakecommands_path %></div>
</section>
