 <% provide(:cardset, rakecommands_path ) %>
 <div class="row-fluid">
	 <h4 class="span12 center">A RANDOM COMMAND FUNCTION WILL BE DISPLAYED BELOW</br>CLICK ON THE CORRECT COMMAND TO THE LEFT</h4></div>

	
	  <%= render "layouts/cards" %>	
		