 <div class="row-fluid">
	 <h4 class="span12 center">A RANDOM DEFINITION WILL BE DISPLAYED BELOW</br>CLICK ON THE CORRECT KEYWORD TO THE LEFT</h4></div>

	 

	<div class="container-fluid">
		<div class="row-fluid">

				<div class= "span6 offset3 center cards"><p><%= "#{@sym}" %></p>
	</div>
			<div class="span3 offset3">

	
	 <ul class="btn-group">>
	 <% for @random in @sym2 
		 if @random == @answer
			x = rubyfuncts_path %>
			<li class="btn btn-small btn-info flash right"><%= link_to "#{@random}", x %></li>
			<% else 
				x = wrong_path %>
			
				<li class="btn btn-small btn-info flash wrong"><%= link_to "#{@random}", x %></li>
	 <% end %>
	  <% end %>
	</ul>
</div>
		</div>
	</div>
	<div>
	<p>* If you get the answer right the flashcard will reload. If not you will be directed to another page</p></div>