 <% provide(:cardset, rubyfuncts_path ) %>
 <div class="row-fluid">
	 <h4 class="span12 center">A RANDOM DEFINITION WILL BE DISPLAYED BELOW</br>CLICK ON THE CORRECT KEYWORD TO THE LEFT</h4></div>

	 



	  <%= render "layouts/cards" %>	
		