@import "bootstrap";
@font-face {
	src: local('Lobster'),
	url('/fonts/Lobster.ttf') format('truetype');
}

#logo{
	font-family: 'Lobster', Georgia, Times, serif;
	margin-left:10px;
}
#refstitle{
	font-size:25px;
	font-weight: bold;
}
#refs {
	line-height: 100px ;
	margin-left:30px;
}
#languages {
	font-size:25px;
	font-weight: bold;
}
.hero-unit {
	font-family: 'Lobster', Georgia, Times, serif;
	text-align:center;
	background:image-url('cracks_1.png') repeat;
	//opacity:0.5;
	
}
.hero-unit p{
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
}
.center{
	text-align:center;
}
.flash a{
display:block;
width:100%;	
}
a:hover{
	color:red;
}

.btn a{
	color:black;

}

body {
	background:image-url('cracks_1.png') repeat;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
}
header{
	text-align:center;
}
nav{
	text-align:right;
}

p{
	
	color:black;
	font-size:14px;
	text-align:center;
}
.gitinfoboxes {
	background-color:#3c9dd0;
	box-shadow: 2px 4px 10px #888;

}
.rubykeysa {
	background-color:#A60000;
	border: black solid 0px;
	border-radius: 15px;
	box-shadow: 2px 4px 10px #888;
	color:white;
}
.rubykeysb {
	background-color: black;
	color:white;
	border-radius: 15px;
	box-shadow: 2px 4px 10px #888;
}
.railsinfoboxes {
	background-color:#A40004;
	box-shadow: 2px 4px 10px #888;
	color:white;
}
.padtop {
	margin-top:20px;

}
.span10 p{
	margin-top:50px;
	font-size:16px;
}
.cards p{
	font-size:20px;
	margin-top:100px;
	line-height:30px;
	background:image-url('double_lined.png');
}
footer{
	position:absolute;
    bottom:0;
    width:auto;
    height:10px;   /* Height of the footer */
}
