@import "bootstrap";

.hero-unit {
	text-align:center;
}
body {
	background-color:white;
}
header{
	text-align:center;
}
nav{
	text-align:center;
}

p{
	color:black;
	font-size:14px;
	text-align:center;
}

.span10 p{
	margin-top:50px;
}
