@import "bootstrap";

#refstitle{
	font-size:25px;
	font-weight: bold;
}
#refs {
	line-height: 100px ;
}
#languages {
	font-size:25px;
	font-weight: bold;
}
.hero-unit {
	text-align:center;
	background-color:#009999;
	//opacity:0.5;
	
}
.center{
	text-align:center;
}
.flash a{
display:block;
width:100%;	
}
a:hover{
	color:red;
}

.btn a{
	color:black;

}

body {
	background:image-url('cracks_1.png') repeat;
}
header{
	text-align:center;
}
nav{
	text-align:right;
}

p{
	color:black;
	font-size:14px;
	text-align:center;
}
.rubykeysa {
	background-color: white;
	border: black solid 0px;
	border-radius: 15px;
}
.rubykeysb {
	background-color: #190188;
	color:gray;
	border-radius: 15px;
}
.padtop {
	margin-top:20px;

}
.span10 p{
	margin-top:50px;
	font-size:16px;
}
footer{
	position:absolute;
   bottom:0;
   width:auto;
    height:60px;   /* Height of the footer */
}
