<footer>
	<ul class="nav nav-pills">
		<li><%= link_to "Home", static_pages_home_path %></a></li>
		<li><%= link_to "Contact Us", static_pages_home_path%></a></li>
		<li><%= link_to "Donate", static_pages_home_path%></a></li>
		<li><%= link_to "Questions", static_pages_home_path%></a></li>
	</ul>
<div id="copy">

<p>&copy GBoone </P> 

</footer>